<!DOCTYPE html>
<html lang="en">
<head>
    <title>Complaint</title>
    <link rel = "icon" href = 
    "http://pngimg.com/uploads/letter_a/letter_a_PNG24.png" 
            type = "image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body style="background: url('https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80');background-repeat: repeat-y;background-size:100%; color: white;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light " style="background: rgba(0,0,0,0.6);">
        <div class="container-fluid" style="font-size: 20px;">
          <a class="navbar-brand" href="#" style="margin-left:5%;"><i class="fas fa-atlas" style="font-size: 1.5em;"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="margin-left: 7vh;">
              <a class="nav-link" href="{{'logout'}}"><i class="fab fa-github"></i></a>
              <a class="nav-link active" aria-current="page" href="{{'redirect'}}">Home</a>
              <a class="nav-link" href="{{'logout'}}">Logout</a>
              
             
              
            </div>
          </div>
        </div>
    </nav>
    <div class="center" style="text-align: center;">
        <h1>Complaints</h1>
       
        {%for x in information%}
        <h4 >{{x['student']}}</h4>
        <p>{{x['date']}}</p>
        <p>{{x['compaint']}}</p>
        <hr style="border-top: 1px solid white;">
        {%endfor%}
        

    </div>




    <!-- <a href="{{'redirect'}}" style="padding: 5px;">Home</a> -->
    
    
    
</body>
</html>