<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <link rel = "icon" href = 
    "http://pngimg.com/uploads/letter_a/letter_a_PNG24.png" 
            type = "image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='student.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='demo.css')}}">
    
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body style="background: url('https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80');background-repeat: repeat-y;background-size:100%; color: white;">
    <div class="topnav" id="myTopnav">
        <a href="#" class="active" style="background-color:purple;width:10%"><i class="fas fa-atlas" style="font-size: 1.5em;"></i></a>
        <a href="#">About</a>
        <a href="{{'redirect'}}">Home</a>
        <a href="{{'logout'}}">logout</a>
        <a href="https://github.com/thomas21-jquerry/Smart-attendance-system"><i class="fab fa-github" style="font-size: 1.5em;"></i></i></a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>

    </nav>
    <div class="center" style="text-align: center;">
        <h1>Complaints</h1>
       
        {%for x in information%}
        <h4 >{{x['student']}}</h4>
        <p>{{x['date']}}</p>
        <p>{{x['compaint']}}</p>
        <hr style="border-top: 1px solid white;">
        {%endfor%}
        

    </div>




    <!-- <a href="{{'redirect'}}" style="padding: 5px;">Home</a> -->
    
    
    
</body>
</html>