<!DOCTYPE html>
<html lang="en">
<head>
    <title>complaint</title>
    <link rel = "icon" href = 
    "http://pngimg.com/uploads/letter_a/letter_a_PNG24.png" 
            type = "image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='demo.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='demo.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="#" class="active" style="background-color:#14ad00f1;width:10%"><i class="fas fa-atlas" style="font-size: 1.5em;"></i></a>
        <a href="#">About</a>
        <a href="{{'redirect'}}">Home</a>
        <a href="{{'logout'}}">logout</a>
        <a href="https://github.com/thomas21-jquerry/Smart-attendance-system"><i class="fab fa-github" style="font-size: 1.5em;"></i></i></a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="center" style="height:auto; width:auto">
        
        <h1>Complaint</h1>
        <form action="{{ url_for('complaint')}}" id="m"  method="POST">
           <h3>Teacher</h3>
            <div class="check" style="display: flex; align-items: center; justify-content: center;">
                {% for j in dp %}
                <input type="radio"  name="teach" value="{{j}}" required>
                <label style="font-size: 16px;">{{j}}</label>
                {% endfor %}
            </div>
            <div style="display: flex; justify-content: center; margin-top: 10vh; margin-bottom: 10vh;">
                <textarea id="review" name="complaint" rows="4" cols="40" ></textarea>
            </div>
        
            <input type="submit" />


        </form>
        <div id="success" style="color: green; font-size: 25px; display: flex;justify-content: center;">

        </div>
    </div>
    







    <!-- <div class="center">
        <h1>complaint</h1>
        <form action="{{ url_for('complaint')}}" id="m"  method="POST">
           
            <label> Teacher:</label>
            <div class="check" style="display: flex; align-items: center; justify-content: center;">
                {% for j in dp %}
                <input type="radio"  name="teach" value="{{j}}">
                <label style="font-size: 16px;">{{j}}</label>
                {% endfor %}
                <textarea id="review" name="complaint" rows="4" cols="50"></textarea>
                    <input type="submit" />
            
                
        </form>
    </div>

    <a href="{{'redirect'}}" style="padding: 5px;">Home</a> -->
    
    .
    <div> 
        {% if  c==1%}
    	<script>
            suc = document.getElementById("success")
            suc.innerHTML = "successfull";
        </script>
        {% endif %}
    </div>
    
</body>
</html>