<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOE</title>
    <link rel = "icon" href = 
    "http://pngimg.com/uploads/letter_a/letter_a_PNG24.png" 
            type = "image/x-icon">
    <link rel = "icon" href = 
"http://pngimg.com/uploads/letter_a/letter_a_PNG24.png" 
        type = "image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='landing.css')}}">
</head>
<body>
    <section class = "main">
        <div class = "main-content">
            <h1 class = "title">Smart Attendance System</h1>
            <h2 class = "subtitle">Robust and efficient way of taking attendance</h2>
            <br>
            <!-- <button class = "btn" type="button" onclick='location.href="{{'log'}}";'>let's go</button> -->
            <a href="{{'firstlog'}}" class="btn btn-info" style="text-decoration: none;">login</a>
        </div>
    </section>
</body>
</html>